nav a {
  color: white !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
  font-size: 14px;
  transition: 0.2s ease;
}

.title {
  font-weight: 400;
  font-size: 10px;
}

.name {
  font-size: 20px;
  margin-bottom: -5px;
}

nav {
  border-bottom: 1px solid white!important;
}

.navbar {
  z-index: 2;
}

.navbar-brand > a {
  margin-right: 7px;
  display: inline-block;
}

.navbar-brand svg {
  color: #ff0047;
}

.navbar-brand a{
  text-decoration: none;
}

.side-panel-bars-icon {
  color:white;
}

.side-panel-bars-icon {
  margin-left: auto;
}

@keyframes fade-in-center {
  from {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.brand-fade {
  visibility: hidden;
  animation: fade-in-center 2s forwards;
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-25px);
    visibility: visible;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}

.nav-link {
  visibility: hidden;
  animation: fade-in-top 1s forwards;
}

#projects-fade {
  animation-delay: 0.1s;
}

#skills-fade {
  animation-delay: 0.2s;
}

#contact-fade {
  animation-delay: 0.3s;
}

#resume-fade {
  animation-delay: 0.4s;
}

@media (min-width: 992px) {
  .side-panel.open, .backdrop, .fa-bars{
    display: none;
  }
}
